h2 {
    font-size: 28px;
}
h3 {
    font-size: 24px;
}
h4 {
    font-style: normal;
}

.sns-btn img {
    height: 30px;
    margin: 0 3px;
}

a.sns-btn {
    margin: 0 2px;
}

a.sns-btn:hover {
    text-decoration: none;
}

.biber-cite {
    font-size: 80%;
}

.biber-ref {
    font-size: 90%;
}